## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [22]:
mi_lista1 = ['Bogota', 'Lima', 'New York', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington']
print(mi_lista1)

['Bogota', 'Lima', 'New York', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington']

2) Imprimir por pantalla el segundo elemento de la lista

In [23]:
print(mi_lista1[1])

Lima

3) Imprimir por pantalla del segundo al cuarto elemento

In [24]:
#2do elemento = posición - 1 = índice 1 
#4to elemento = posición = índice 4, porque siempre excluye el último 
print(mi_lista1[1:4])

['Lima', 'New York', 'Madrid']

4) Visualizar el tipo de dato de la lista

In [25]:
print(type(mi_lista1))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [26]:
mi_lista1[2:]

['New York', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington']

6) Visualizar los primeros 4 elementos de la lista

In [27]:
mi_lista1[:4] #excluye el final siempre, osea 0,1,2,3 = 4 elementos

['Bogota', 'Lima', 'New York', 'Madrid']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [28]:
mi_lista1.append('Lima')

In [29]:
mi_lista1.append('Caracas')

In [30]:
print(mi_lista1)

['Bogota', 'Lima', 'New York', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas']

8) Agregar otra ciudad, pero en la cuarta posición

In [31]:
mi_lista1.insert(3,'Ciudad de México') #con insert agregamos posición y dato a insertar

In [32]:
print(mi_lista1)

['Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas']

9) Concatenar otra lista a la ya creada

In [33]:
print(mi_lista1)

['Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas']

In [34]:
mi_lista2 = ['Miami', 'Caracas', 'Ontario','Pekin']

In [35]:
mi_lista1.extend(mi_lista2)

In [36]:
print(mi_lista1)

['Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [37]:
mi_lista1.index('Lima')
#Cuando hay elementos repetidos, solo devuelve el índice del primer elemento repetido

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [38]:
mi_lista1.index('NoHayEsteDato')
#Menciona que aquel dato no esta en la lista

ValueError: 'NoHayEsteDato' is not in list

In [39]:
'NoHayEsteDato' in mi_lista1

False

12) Eliminar un elemento de la lista

In [ ]:
del mi_lista1[3]
#Borró Ciudad de México

In [ ]:
mi_lista1

['Bogota',
 'Lima',
 'New York',
 'Madrid',
 'Londres',
 'Buenos Aires',
 'Santiago',
 'Washington',
 'Lima',
 'Caracas',
 'Miami',
 'Caracas',
 'Ontario',
 'Pekin']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
mi_lista1.remove('NoExisteTalElemento')
#Nos dice quen o existe tal elemento que intentas borrar

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [ ]:
ultimo = mi_lista1.pop()
print(ultimo)

Pekin

In [ ]:
mi_lista1

['Bogota',
 'Lima',
 'New York',
 'Madrid',
 'Londres',
 'Buenos Aires',
 'Santiago',
 'Washington',
 'Lima',
 'Caracas',
 'Miami',
 'Caracas',
 'Ontario']

15) Mostrar la lista multiplicada por 4

In [ ]:
print(mi_lista1*4)

['Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin', 'Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin', 'Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin', 'Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [40]:
mi_tupla1 = tuple(range(1,21)) #Usamos tuple para crear una tupla

In [41]:
print(mi_tupla1) #recuerda que el último rango se excluye

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [42]:
print(mi_tupla1[10:16]) #excluye el índice final 16 e imprime índice 15

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [45]:
print(20 in mi_tupla1)
print(30 in mi_tupla1)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [46]:

print('Paris' in mi_lista1)

False

In [47]:
elemento = 'Paris'
if elemento in mi_lista1:
    print('El elemento',elemento,'ya existe')
else:
    mi_lista1.append('Paris')
    print('El elemento',elemento,'se agregó correctamente')

El elemento Paris se agregó correctamente

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [51]:
print(mi_lista1.count('Lima'))

print(mi_tupla1.count(15))

2
1

21) Convertir la tupla en una lista

In [52]:
mi_tupla2 = tuple(mi_lista1) #Aqui, es al reves, para convertir a lista se usa → list()
#tuple() para convertir un elemento en tupla

In [54]:
print(mi_tupla2)

('Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin', 'Paris')

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [55]:
#Empaquetado:
mi_tupla3 = 'Bogota','Lima','New York'

In [56]:
#Desempaquetado:
var1, var2, var3 = mi_tupla3

In [58]:
print("Var1:",var1,"Var2:",var2,"Var3:",var3,)

Var1: Bogota Var2: Lima Var3: New York

23) Crear un diccionario utilizando la lista creada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [63]:
mi_diccionario1 = {'Ciudad':mi_lista1,'Pais':[],'Continente':[]}

In [65]:
mi_diccionario1 = {'Ciudad':mi_lista1,'Pais':['Ecuador','Perú','Colombia','España','Estados Unidos'],'Continente':['América','Asia','África','Europa','Australia']}

In [66]:
print(mi_diccionario1)

{'Ciudad': ['Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin', 'Paris'], 'Pais': ['Ecuador', 'Perú', 'Colombia', 'España', 'Estados Unidos'], 'Continente': ['América', 'Asia', 'África', 'Europa', 'Australia']}

In [67]:
mi_diccionario1

{'Ciudad': ['Bogota',
  'Lima',
  'New York',
  'Ciudad de México',
  'Madrid',
  'Londres',
  'Buenos Aires',
  'Santiago',
  'Washington',
  'Lima',
  'Caracas',
  'Miami',
  'Caracas',
  'Ontario',
  'Pekin',
  'Paris'],
 'Pais': ['Ecuador', 'Perú', 'Colombia', 'España', 'Estados Unidos'],
 'Continente': ['América', 'Asia', 'África', 'Europa', 'Australia']}

24) Imprimir las claves del diccionario

In [68]:
mi_diccionario1.keys()

dict_keys(['Ciudad', 'Pais', 'Continente'])

In [69]:
print(mi_diccionario1.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [71]:
mi_diccionario1['Ciudad']

['Bogota',
 'Lima',
 'New York',
 'Ciudad de México',
 'Madrid',
 'Londres',
 'Buenos Aires',
 'Santiago',
 'Washington',
 'Lima',
 'Caracas',
 'Miami',
 'Caracas',
 'Ontario',
 'Pekin',
 'Paris']

In [72]:
print(mi_diccionario1['Ciudad'])

['Bogota', 'Lima', 'New York', 'Ciudad de México', 'Madrid', 'Londres', 'Buenos Aires', 'Santiago', 'Washington', 'Lima', 'Caracas', 'Miami', 'Caracas', 'Ontario', 'Pekin', 'Paris']